.footer { 
  top: 100%;
  height: 50px;
  width: 100%;
  padding: 10px 10px 0 10px;
  background: #E1DCC9;
}

.white-text {
  color: #E1DCC9;
}

.yellow-text {
  color: #EFB750;
}
.yellow-text:hover {
  color: #EFB750;
}
.yellow-background {
  background: #EFB750;
}


.text-color {
  color: #17395C;
}

.dark-color {
  background: #17395C;
}

.link-color {
  color: #C24229;
  text-decoration: none;
}

.link-color:hover {
  color: #a13823;
}

body {
  position: relative;
  background: #E1DCC9;
}
body::after {
  content: '';
  display: block;
  height: 50px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;  
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  align-content: space-around;
}