.breadcrumb-hotel {
  background: #c9c5b3;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.breadcrumb-hotel-link {
  color: #a13823;
  text-decoration: none; }

.breadcrumb-hotel-link:hover {
  color: #a13823; }
