@yellow: #EFB750;
@white: #c9c5b3;
@red: #a13823;
@blue: #17395C;

.margin(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.card-hotel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;  
    padding: 2px 5px 2px 5px;
    .margin(15px, 0px);
    align-content: space-around;
    max-width: 18rem;
}

  .button-primary { 
    width: 100%;
    background: @yellow;
    color: @white;
}
  
  .button-primary:hover {
    background: #a78037;
    color: @white;
}

.card-hotel-content {
  padding: 1rem;
}

.card-hotel-media {
  width: 100%;
}

.card-hotel-title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.15;
}

.card-hotel-button {
  .margin(0.25rem, 1rem)
}