.card-hotel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px 5px 2px 5px;
  margin-top: 15px;
  margin-bottom: 0px;
  align-content: space-around;
  max-width: 18rem;
}
.button-primary {
  width: 100%;
  background: #EFB750;
  color: #c9c5b3;
}
.button-primary:hover {
  background: #a78037;
  color: #c9c5b3;
}
.card-hotel-content {
  padding: 1rem;
}
.card-hotel-media {
  width: 100%;
}
.card-hotel-title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.15;
}
.card-hotel-button {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}
