$yellow: #EFB750;
$white: #c9c5b3;
$red: #a13823;
$blue: #17395C;

@mixin margin($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.breadcrumb-hotel {
    background: $white;
    @include margin(1rem, 1rem);
}

.breadcrumb-hotel-link {
    color: $red;
    text-decoration: none;
}

.breadcrumb-hotel-link:hover {
    color: $red;
}